
#footer{visibility: hidden;}
header{visibility: hidden;} 

a:hover{
    color:#ec1221 !important;
    text-decoration: none;
}
hr{
    margin-top: 0px;
    margin-bottom: 1%;
}
.css-ffhzg2 {
       background:#1a1a1a;
        color: #e0e0e0;
   
}
a{
    text-decoration: none;
    color: white! important;
    font-weight: 500;
   
}

.reportview-container {
                        Background-Color: black;
 }
