*{primaryColor="#d33682"
backgroundColor="#002b36"
secondaryBackgroundColor="#586e75"
textColor="#fff"
  }

#MainMenu{visibility: hidden;}
footer{visibility: hidden;}
header{visibility: hidden;} 

a:hover{
    color:#ec1221 !important;
    text-decoration: none;
}
hr{
    margin-top: 0px;
    margin-bottom: 1%;
}
