
#footer{visibility: hidden;}


a:hover{
    color:#ec1221 !important;
    text-decoration: none;
}
hr{
    margin-top: 0px;
    margin-bottom: 1%;
}
.css-ffhzg2 {
    position: absolute;
    background:#000000;
    color: rgb(250, 250, 250);}
   

a{
    text-decoration: none !import;
    color: white !important;
    font-weight: 500;
   
}

.reportview-container {
                        Background-Color: black;
 }
